cloudpickle==2.2.1+computecanada
contourpy==1.0.7+computecanada
cycler==0.11.0+computecanada
deap==1.3.3+computecanada
et_xmlfile==1.1.0+computecanada
Farama_Notifications==0.0.4+computecanada
fonttools==4.40.0+computecanada
gymnasium==0.28.1+computecanada
jax_jumpy==1.0.0+computecanada
kiwisolver==1.4.4+computecanada
matplotlib==3.7.0+computecanada
numpy==1.24.2+computecanada
openpyxl==3.1.2+computecanada
packaging==23.1+computecanada
Pillow==9.5.0+computecanada
pygame==2.5.0+computecanada
pygraphviz
pyparsing==3.0.9+computecanada
python-dateutil==2.8.2+computecanada
six==1.16.0+computecanada
typing_extensions==4.5.0+computecanada